@use "../partials/variables.scss" as *;

@mixin debug{
    border: 1px dashed sandybrown;
    background-color: cadetblue;
}

@mixin container{
    margin: 0 auto;
    max-width: 1000px;
}

@mixin row{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center{
    justify-content: center;
    align-items: center;
}