// colors
$blue_brand : #0182F9;
$main_background_color : #1C1C1C;
$white_color: #FFFFFF;
$dark_gray_color: rgb(47, 47, 47);

// dimensions
$percent_100: 100%;
$logo_dimension: 70px;

// spacing
$spacing_50: 50px;
$spacing_20: 20px;
$spacing_10: 10px;
$XY_flex_center: center;
$space_between: space-between;

//fonts
$font_light: light;
$font_bold: bold;
$font_size_small: 0.7em;
$font_size_large: 1.5em;


